<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505501066611-fadmm65p14cmlsn8259ds9rndvbobj97.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505501066611-fadmm65p14cmlsn8259ds9rndvbobj97</string>
	<key>API_KEY</key>
	<string>AIzaSyDM0SkZFNS4hFmTPHg8BH9AE6CT8cyABl4</string>
	<key>GCM_SENDER_ID</key>
	<string>505501066611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kakashi</string>
	<key>PROJECT_ID</key>
	<string>kakashi-2bf36</string>
	<key>STORAGE_BUCKET</key>
	<string>kakashi-2bf36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505501066611:ios:65bffe00ad672c181b5106</string>
</dict>
</plist>